#Fast API
APP_NAME=Phylogeny Matrix Analyzer API
VERSION=1.0.0
DESCRIPTION=API for analyzing phylogenetic matrices stored in MinIO
HOST=localhost
PORT=8000
CORS_ORIGINS=http://localhost:3000

NEST_API_URL=http://localhost:3001

#MinIO
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_SECURE=false

MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123

# Existing buckets
MINIO_MATRIX_BUCKET=matrices
MINIO_VISUALIZATION_BUCKET=visualizations

#Internal Secret for inter-service communication
INTERNAL_SECRET=change_this_to_a_strong_internal_secret

#JModelTest jar path
JMODELTEST_JAR=app/tools/jmodeltest/jModelTest.jar
JMODELTEST_DIR=app/tools/jmodeltest

#RAxML-NG binary path
RAXML_BIN=app/tools/raxml-ng/raxml-ng

#Redis URL (Celery broker + result backend)
REDIS_URL=redis://localhost:6379/0