#################################
# DATABASE
#################################

DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=phylogenydb
DB_PORT=5432
DB_SYNCHRONIZE=true

#################################
# AUTH
#################################

SALT_ROUNDS=10
JWT_SECRET=change_this_to_a_strong_secret
JWT_EXPIRES_IN=1h

#################################
# MINIO
#################################

MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123

MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ENDPOINT=minio #This is for internal use
MINIO_BROWSER_REDIRECT_URL=http://localhost:9001

MINIO_MATRIX_BUCKET=matrices
MINIO_VISUALIZATION_BUCKET=visualizations

#################################
# FRONTEND
#################################

FRONT_ORIGIN=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001

#################################
# INTERNAL COMMUNICATION
#################################

INTERNAL_SECRET=change_this_to_a_strong_internal_secret

#################################
# SERVICE PORTS
#################################

NEST_PORT=3001
FASTAPI_PORT=8000

################################
# INTERNAL SERVICE HOSTS
################################

NEST_HOST=http://phylogeny-app
FASTAPI_HOST=http://matrix-analyzer

#################################
# REDIS (Celery broker/backend)
#################################

REDIS_URL=redis://redis:6379/0